body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#user-input {
    display: flex;
    flex-direction: column;
    background-color: #6943FF;
    padding: 20px;
    align-items: center;
    color: white;
}

button {
    background-color: white;
    border: none;
    max-width: 80px;
    padding: 10px 15px;
    margin-top: 1em;
    font-weight: bold;
    color: #3d3d3d;
    background-color: #ffff;
    border: none;
    border-radius: 5px;
}

#input {
    padding: 5px 10px;
    max-width: 80px;
    font-size: 3em;
    box-sizing: border-box;
    border-radius: 5px;
}

input::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    appearance: none;
}

.result {
    color: #6943FF
}

h2 {
    font-size: medium;
    margin-top: 5em;
}